<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <link rel="stylesheet" href="css\components.css"> 
</head>
<body>
    <div class="alert alert-success" role="alert">
        <div class = "alert-card">
        
            <img src ="D:\Documents\Capstone\paulinian-electronic-archiving-system\admin\icons\check.png" alt=" check-icon">
        
        <h1 class="alert-title">Uploaded Successfully!</h4>
        </div>
      
    </div> 
</body>
</html>