<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/page_header.css">
</head>
<body>
    <header class="page-header">
        <div class="header-content">
            <div class="left-section">

            <label for="period-select">Select Period:</label>

                <select id="period-select" onchange="updateDashboard(this.value)">
                    <option value="7">Last 7 Days</option>
                    <option value="30">Last 30 Days</option>
                    <option value="month">This Month</option>
                    <option value="custom">Custom Range</option>
                </select>
            </div>
            
            <div class="right-section">

                
            </div>
        </div>
    </header>
</body>
</html>
