<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/page_header.css">
</head>
<body>
    <header class="page-header">
        <div class="header-content">
            <div class="left-section">

            <h2>DATE RANGE PICKER & SEARCH w/ FILTER SPACE</h2>

                
            </div>
            
            <div class="right-section">

                
            </div>
        </div>
    </header>
</body>
</html>
