<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" href="./css/side_bar.css">
</head>
<body>
    <nav class="side-bar">
        <div class="icon-container">
            <div class="icon-wrapper">
                <div class="icon grid-icon"></div>
            </div>
            <div class="icon-wrapper">
                <div class="icon file-icon"></div>
            </div>
            <div class="icon-wrapper">
                <div class="icon settings-icon"></div>
            </div>
        </div>
    </nav>
</body>
</html>