<div data-collapse="small" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
    role="banner" class="nav-bar w-nav">
    <div class="nav-container w-container">
        <div class="logo-div"><a href="/" class="nav-logo w-inline-block"><img width="250" height="80" alt=""
                    src="../images/office-20of-20research-20-26-20publications.png" id="logo" class="logo" /></a></div>
        <nav role="navigation" class="nav-content w-nav-menu">
            <div class="search-banner">
                <div class="search-section">
                    <form action="/search" class="search w-form"><input class="search-bar w-input" maxlength="256"
                            name="query" placeholder="Search resources" data-w-id="a10f4556-bb24-1d24-1295-4815da5256d3"
                            type="search" id="search" required="" /><input type="submit" class="hidden w-button"
                            value="Search" />
                    </form>
                </div>
            </div>
            <div class="nav-cta-button-container">
                <form action="/login" method="POST" class="login-form w-form">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit" class="nav-link loginbtn w-nav-link">Login</button>
                </form>
            </div>
        </nav>
        <div class="menu-button w-nav-button"><img width="24" loading="lazy" alt="" src="../images/menu-20icon.svg"
                class="menu-icon" /></div>
    </div>
</div>

<script src="../js/login.js"></script>