body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f0f7f0; /* Light green background like in your screenshot */
}

#react-author-list{
    width: 100%;
    
    margin: auto;
   
}