
body {
    background-color: rgb(197, 167, 167);
    border-style: dotted;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    
    
  }
  
  h1 {
    color: white;
    text-align: center;
    width: auto;
    display: flexbox;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  .Contents {
  border-style: dotted;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
 
  }

  .main-contents{
    display: flexbox;
  }
/* ---iframes---*/
  .sidebar-iframe {
    width: 20%; /* Adjust to fit the container */
    height: 100vh; /* Full height of the viewport */
    border: none; /* Removes border */
    overflow: hidden; /* Prevents scrollbars */
}