<div class="footer">
    <div class="footer-container w-container">
        <div class="w-layout-grid footer-grid">
            <div id="w-node-b8d7be4a-ce45-83ab-5947-02d204c8bff0-cf3fcb86" class="footer-logo-block"><a data-ix="logo"
                    href="/" aria-current="page" class="footer-logo w-nav-brand w--current"><img
                        src="../images/office-20of-20research-20-26-20publications-1-.png" width="230" alt="" /></a>
                <div class="paragraph small">© 2024 Glyph. All Rights Reserved.</div>
            </div>
            <div class="footer-links-container">
                <a href="/" aria-current="page" class="footer-link w--current">Home</a>
                <a href="../public/news.html" class="footer-link">News</a>
                <a href="../public/contact.html" class="footer-link">Contact</a>
                <a href="../public/terms-conditions.html" class="footer-link">Terms &amp; Conditions</a>
                <a href="../public/privacy-policy.html" class="footer-link">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>