/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

.logs-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35vh 35vh;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 20px;
    
    
    border-radius: 8px;
    margin: 20px auto;
}

.logs-section {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-logins {
    grid-column: 2;
    grid-row: 1 / 3;
    height: 70vh;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #000000;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fffff5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: black;
}

th {
    background-color: #008000;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.page-number, .prev-button, .next-button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.page-number:hover, .prev-button:hover, .next-button:hover {
    background-color: #f0f0f0;
}

.page-number.active {
    background-color: #008000;
    color: #fff;
    border-color: #008000;
}

.prev-button:disabled {
    opacity: 0.5;
    cursor: default;
}