/*dark-mode.css*/
body.dark-mode {
    background-color: #121212;
    color: #eee;
}
.header {
    background-color: #333;
    color: white;
    border: 1px solid #555;
}
.logo-icon {
    background-color: #64b5f6;
}

.user-avatar{
    border: 1px solid #eee;
}