  .container {
    max-width: 1200px;
    margin: 0 auto; 
    background-color: #fffff5;
    
  }
 
  body {
    overflow: hidden;
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #fffff5;
    
  }

  .row {
    display: flex;
    justify-content: space-between; 
    gap: 0px; 
    padding: 0px; 
    margin: 10px 0
  }

  .column {
    flex: 1;
    padding: 10px; 
    
    box-sizing: border-box; 
    
  }
  /*For Chart container*/
  .counter-container {
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    padding: 10px; 
    
    box-sizing: border-box; 
  }

  .total-visits {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .total-visits-number {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .visits-row {
    display: flex;
    justify-content: space-around;
    gap: 20px;
  }

  .visit-count {
    font-size: 2em;
    font-weight: bold;
  }

  .visit-label {
    font-size: 1em;
    color: #555;
  }

  /*for Top Authors*/
  .top-authors-container {
    background-color: #fffff5;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    box-sizing: border-box;
  }

  .top-authors-container h2 {
    margin-bottom: 10px;
  }

  .authors-list {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    overflow-x: auto; 
    white-space: nowrap; 
  }

  .author {
    
    padding: 0px;
    border-radius: 5px;
    text-align: center;
    flex: 0 0 auto; 
    box-sizing: border-box;
    min-width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
  }

  .author-image {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .author-name {
    font-weight: bold;
    margin-bottom: 3px;
  }

  .author-visits {
    color: #777;
    font-size: 0.9em;
  }

  @media (max-width: 768px) {
    .authors-list {
        /* Keep horizontal scrolling on smaller screens as well */
    }

    .author {
        width: 150px; /* Adjust width for smaller screens if needed */
    }
  }

  /* most visited work secton*/
  .most-visited-table {
    background-color: #fffff5;
    padding: 10px;
    width: 100%; /* Or a specific width like 800px */
    border-collapse: separate; /* Important for row spacing */
    border-radius: 8px;
    border-spacing: 0 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0px 0px; 
    width: 530px; 
  }
  .most-visited-table h3{
    margin: 0px;
    background-color: #fffff5;
    
  }
  .most-visited-table h5{
    font-size: 15px;
    padding: 5px;
    margin: 0px;
    background-color: #fffff5;
    
  }
  .most-visited-table th{
    display: none;
  }
  .most-visited-table tr{
    margin: 0px;
    padding: 0px auto;
    background-color: #fffff5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
  }


  .most-visited-table th,
  .most-visited-table td {
    padding: 13px; /* Add padding for better spacing inside cells */
    text-align: left; /* Align text to the left */
  }

  .most-visited-heading { /* Targeting the class */
    padding-top: 10px;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin:0px;
  }

 

  .most-visited-table .cover {
    width: 50px; /*adjust cover width*/
    height: 50px; /*adjust cover height*/
    
  }

  .work-details {
    flex-grow: 1; 
  }

  .work-title {
    font-weight: 500;
    margin-bottom: 5px;
    color: #444;
  }





  .work-visits {
    font-weight: bold;
    color: #555;
    white-space: nowrap; 
  }

  /* Responsive adjustments */
  @media (max-width: 600px) {
    .work-item {
        flex-direction: column; 
        align-items: flex-start; 
    }
    .work-cover{
        margin-bottom: 5px;
        margin-right: 0;
    }
    .work-visits{
        margin-top: 5px;
    }
    .most-visited-works{
        padding: 10px;
    }
  }
  /* Works Summary Section */
  .works-summary {
    display: flex;
    background-color: #fffff5; 
    
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 900px;
    align-items: center; 
  
  }

  .works-by-type {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work-count {
    text-align: center;
    padding: 15px;
  }

  .count {
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    color: #333;
  }

  .label {
    font-size: 0.9em;
    color: #777;
    display: block;
    margin-bottom: 10px;
  }
  .work-icon {
    display: flex; /* Centers the image */
    justify-content: center; /* Centers the image */
    align-items: center; /* Centers the image */
    width:100%; /* Or whatever size you need */
    height: 50px; /* Or whatever size you need */
    border-top-left-radius: 10px; /* Adjust the value as needed */
    border-top-right-radius: 10px; /* Adjust the value as needed */
    
  }
  .work-icon img{
      max-width: 30px;
      max-height: 30px;
      margin: 0 auto;
      border-radius: 5px;
      object-fit: cover;
  }
  .confluence{  
      background-color: #FFF4D4;
      
      
  }
  .dissertation{
      background-color: #DCFFDC;
  }
  .thesis{
      background-color: #EFDDDD;
      
  }
  .synthesis{
      background-color: #D2D6FF;
  }
  .work-type{
    
      font-size: 0.8em;
      color: #f5f5f5;
      display: block; /* Make it a block-level element */
      width: 80px; /* Take up the full width of its parent */
      height: 30px;
      text-align: center; /* Optional: Center the text */
      box-sizing: border-box; /* Include padding and border in the element's total width and height */
      
  }
  .confluence-text {
    padding: 5px 0px;
    background-color: #EFBB29; /* Light yellow */
    border-bottom-left-radius: 10px; /* Adjust the value as needed */
    border-bottom-right-radius: 10px;
  }

  .dissertation-text {
    background-color: #50AA5B; /* Light green */
    padding: 5px 0px;
    border-bottom-left-radius: 10px; /* Adjust the value as needed */
    border-bottom-right-radius: 10px;
  }

  .thesis-text {
    background-color: #E64B4B; /* Light red */
    padding: 5px 0px;
    border-bottom-left-radius: 10px; /* Adjust the value as needed */
    border-bottom-right-radius: 10px;
  }

  .synthesis-text {
    background-color: #4D5BF7; /* Light blue */
    padding: 5px 0px;
    border-bottom-left-radius: 10px; /* Adjust the value as needed */
    border-bottom-right-radius: 10px;
  }

  .total-works {
    background-color: #3498db; 
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    min-width: 110px; 
    margin: 10px;
  }

  .total-count {
    font-size: 2em;
    font-weight: bold;
    display: block;
  }

  .total-label {
    font-size: 1em;
    display: block;
  }

  /* Trending Topics Section */
  .trending-topics {
    background-color: #f8f8f8; 
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 800px;
  }

  .trending-topics-heading{
    padding: 10px 10px;
    margin: 0px;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    
  }

  .topics-list {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .topic {
    background-color: #e74c3c; 
    color: white;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    white-space: nowrap; 
  }
  /*graph section*/
  .view-graph{
    height: 20vh;
    background-color: #3498db;
  }

  /* Responsive Design */
  @media (max-width: 768px) {
      .works-summary{
          flex-direction: column;
          align-items: center;
          gap: 20px;
      }
      .works-by-type{
          flex-direction: column;
          align-items: center;
      }
      .total-works{
          min-width: auto;
          width: 80%;
      }
  }