.container {
  max-width: 1200px;
  margin: 0 auto; 
}
body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}
.row {
  display: flex;
  justify-content: space-between; 
  gap: 16px; 
  padding: 20px; 
  margin: 20px 0
}


.column {
  flex: 1;
  padding: 10px; 
  border: 1px solid #ddd; 
  box-sizing: border-box; 
}
