
body {
    max-width: 1200px;
    font-family: sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 auto; 
    
  }

.header {
    padding: 20px;
    border-bottom: 1px solid #ddd; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
    
    
}

.logo-icon {
    width: 80px; 
    height: 80px; 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
}

.logo-text {
    font-size: 1.2em;
    font-weight: bold;
}
.content {
    display: flex;
    flex-direction: column; 
    margin: 0 10px;
    
}
.content p {
    font-size: 0.9em; /* Adjust as needed */
    margin: 0; /* Remove default margins */
    white-space: nowrap; /* Prevent text wrapping */
}
