
body {
    max-width: 1200px;
    font-family: sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 auto; 
    
  }

.header {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd; 
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
    
    
}

.logo-icon {
    width: 80px; 
    height: 80px; 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center; 
}

.logo-text {
    font-size: 1.2em;
    font-weight: bold;
}
.content {
    display: flex;
    flex-direction: column; 
    margin: 0 10px;
    
}
.content p {
    font-size: 0.9em; /* Adjust as needed */
    margin: 0; /* Remove default margins */
    white-space: nowrap; /* Prevent text wrapping */
}
.user-info {
    display: flex;
    align-items: center;
    
}

.notifications, .theme-toggle { 
    margin-right: 20px;
    cursor: pointer; 
}
.theme-icon{
    width: 20px;
    height: 20px;
}
.user-dropdown {
    position: relative; 
    display: inline-block; 
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer; 
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    border-radius: 5px;
    right: 0; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.user-dropdown:hover .dropdown-content {
    display: block;
}
.notifications-icon {
    width: 20px;
    height: 20px;
}