
.page-header {
   
    margin-top: 20px; 
    
    

}

.header-content {
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    height: 50px;
    background-color:  fffff5;
}


.left-section {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 

}

.right-section {
    display: flex;
    align-items: end;
    gap: 10px; 
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column; 
        align-items: flex-start;
    }

    .right-section {
        margin-top: 10px; 
        flex-direction: column;
        align-items: stretch;
    }

    
}
