/*Success.html*/

.container{
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    align-items: center;
    border-radius: 12px;
    width:fit-content

}

.container h2{
    color: white;
    margin-right: 10px;
    padding:20px 5px;
}
.container svg{
    margin-left: 10px;
}


.modal-content .image-card img{
    border-radius: 6px;
    width: 50%;
    height: 100%;
}

